@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&family=Open+Sans:wght@300;400;500;600;700&family=Outfit:wght@100;300;500;700&display=swap');

:root {
  --red: #ff3838;
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

*::selection {
  background: var(--red);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  background: #f7f7f7;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  font-size: 3.5rem;
  padding: 1rem;
  color: #666;
}

.heading span {
  color: var(--red);
}

.button {
  display: inline-block;
  color: var(--red);
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--red);
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: var(--red);
  transition: 0.3s linear;
  z-index: -1;
}

.button:hover::before {
  width: 100%;
  left: 0;
}

.button:hover {
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 2rem 9%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #666;
}

header .logo i {
  padding-right: 0.5rem;
  color: var(--red);
}

header .navbar a {
  font-size: 2rem;
  margin-left: 2rem;
  color: #666;
}

header .navbar a:hover {
  color: var(--red);
}

#menu-bar {
  font-size: 3rem;
  cursor: pointer;
  color: #333;
  border: 0.1rem solid #333;
  border-radius: 0.3rem;
  padding: 0.5rem 1.5rem;
  display: none;
}

.home {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  background: url();
  background-size: cover;
  background-position: center;
}

.home .content {
  flex: 1 1 40rem;
  padding-top: 6.5rem;
}

.home .image {
  flex: 1 1 40rem;
}

.home .image img {
  width: 100%;
  padding: 1rem;
  animation: float 3s linear infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(3rem);
  }
}

.home .content h3 {
  font-size: 4rem;
  color: #333;
}

.home .content p {
  font-size: 1.7rem;
  color: #666;
  padding: 1rem 0;
}

.speciality .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.speciality .box-container .box {
  flex: 1 1 30rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 0.5rem;
}

.speciality .box-container .box .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: -100%;
  left: 0;
}

.speciality .box-container .box .content {
  text-align: center;
  background: #fff;
  padding: 2rem;
}

.speciality .box-container .box .content img {
  margin: 1.5rem 0;
  width: 300px;
}

.speciality .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #333;
}

.speciality .box-container .box .content p {
  font-size: 1.6rem;
  color: #666;
  padding: 1rem 0;
}

.speciality .box-container .box:hover .image {
  top: 0;
}

.speciality .box-container .box:hover .content {
  transform: translateY(100%);
}

.popularity .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.popularity .box-container .box {
  padding: 2rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  text-align: center;
  flex: 1 1 30rem;
  position: relative;
}

.popularity .box-container .box img {
  height: 25rem;
  object-fit: cover;
  width: 100%;
  border-radius: 0.5rem;
}

.popularity .box-container .box .price {
  position: absolute;
  top: 3rem;
  left: 3rem;
  background: var(--red);
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.popularity .box-container .box h3 {
  color: #333;
  font-size: 2.5rem;
  padding-top: 1rem;
}

.popularity .box-container .box .stars i {
  color: gold;
  font-size: 1.7rem;
  padding: 1rem 0.1rem;
}

.gallery .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.gallery .box-container .box {
  height: 25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  flex: 1 1 30rem;
  position: relative;
}

.gallery .box-container .box img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.gallery .box-container .box .content {
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  padding-top: 5rem;
  text-align: center;
}

.gallery .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #333;
}

.gallery .box-container .box .content p {
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
}

.gallery .box-container .box:hover .content {
  top: 0;
}

.review .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.review .box-container .box {
  text-align: center;
  padding: 2rem;
  border: 1rem solid #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  flex: 1 1 30rem;
  background: #333;
  margin-top: 6rem;
}

.review .box-container .box img {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  border: 1rem solid #fff;
  margin-top: -8rem;
  object-fit: cover;
}

.review .box-container .box h3 {
  font-size: 2.5rem;
  color: #fff;
  padding: 0.5rem 0;
}

.review .box-container .box .stars i {
  font-size: 2rem;
  color: var(--red);
  padding: 0.5rem 0;
}

.review .box-container .box p {
  font-size: 1.3rem;
  color: #fff;
  padding: 1rem o;
  margin-top: 1rem;
}

.order .row {
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  border-radius: 0.5rem;
}

.order .row .image {
  flex: 1 1 30rem;
}

.order .row .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.order .row form {
  flex: 1 1 50rem;
  padding: 1rem;
}
.order .row form .inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.order .row form .inputBox input,
.order .row form textarea {
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.5rem;
  color: #333;
  text-transform: none;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  width: 49%;
}

.order .row form textarea {
  width: 100%;
  resize: none;
  height: 15rem;
}

.order .row form .button {
  background: none;
}

.order .row form .button:hover {
  background: var(--red);
}

.footer {
  background: #333;
  text-align: center;
}
.footer .sub-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.footer .sub-footer p {
  font-size: 1.5rem;
  color: #fff;
  text-align: left;
}
.footer .share {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.footer .credit {
  padding: 2rem 1rem;
  color: #fff;
  font-weight: normal;
  font-size: 1.5rem;
}

.footer .credit span {
  color: var(--red);
}

#scroll-atas {
  position: fixed;
  bottom: -100%;
  right: 4rem;
  padding: 1.5rem 1.5rem;
  font-size: 2rem;
  background: var(--red);
  color: #fff;
  border-radius: 0.5rem;
  transition: 0.8s linear;
  z-index: 1000;
}

#scroll-atas.active {
  bottom: calc(100% - 90%);
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  height: 100%;
  width: 100%;
}

.loader-container.fade-out {
  top: -120%;
  opacity: 0;
}

/* about */
.container-about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/bg-about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid black;
  height: 100vh;
}
.container-about h3 {
  color: #fff;
  font-size: 7rem;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-about p {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-visi .heading {
  padding: 5rem;
}
.box-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-evenly;
}
.box-content .kotak {
  width: 45%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}
.box-content .kotak h3 {
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  color: #333;
}
.box-content .kotak p {
  text-align: justify;
  padding: 0 5rem;
  font-size: 2rem;
  color: #666;
  margin-bottom: 2rem;
}

.container-sejarah {
  margin-top: 10rem;
}
.container-sejarah .box-content {
  margin-bottom: 7rem;
}
.box-content .img img {
  width: 400px;
  height: 100%;
}
.box-content .text {
  width: 45%;
}
.box-content .text h3 {
  font-size: 3rem;
  color: #333;
}
.box-content .text p {
  text-align: justify;
  padding: 1rem;
  font-size: 2rem;
  color: #666;
}

.container-owner .box-owner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  position: relative;
  margin-top: 5rem;
}
.container-owner .box-owner .img img {
  border-radius: 30px;
  width: 400px;
  box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.3);
}

.container-penghargaan .box-penghargaan {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.container-penghargaan h3 {
  padding: 7rem;
}

.container-penghargaan .box-penghargaan {
  margin-bottom: 7rem;
}

.container-penghargaan .box-penghargaan img {
  width: 30%;
  border-radius: 30px;
  box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.3);
}
/* Media query */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: initial;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #f7f7f7;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    transform: translateX(2000px);
  }

  header .navbar.active {
    transform: translateX(0);
  }
  header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    display: block;
    border: 0.2rem solid rgba(0, 0, 0, 0.1);
    border-left: 0.5rem solid var(--red);
    background: #fff;
  }
  .container-penghargaan .box-penghargaan img {
    width: 50%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 50%;
  }
  .order .row form .inputBox input {
    width: 100%;
  }
}
